// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg {
  position:absolute;
  width:100%;
  height: 1100px;
  top:0;
  left: 0;
  z-index:-1;
  background-color: #FF223E;
}

#retangle {
  background: #5D1EB2;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 88%, 0 54%);
  clip-path: polygon(0 0, 100% 0%, 100% 88%, 0 54%);
  height: 100%;
}

.logo {
  margin: 40px;
}