.bg {
  position:absolute;
  width:100%;
  height: 1100px;
  top:0;
  left: 0;
  z-index:-1;
  background-color: #FF223E;
}

#retangle {
  background: #5D1EB2;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 88%, 0 54%);
  clip-path: polygon(0 0, 100% 0%, 100% 88%, 0 54%);
  height: 100%;
}

.logo {
  margin: 40px;
}
.convocation {
  margin-left: 40px;
  margin-top: 185px;
}

.convocation p {
  font-family: "Proxima Nova Light";
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0.42px;
  margin: 0 0 8px 1px;
}

.tittle {
  color: white;
  font-family: "Proxima Nova EB";
  font-weight: bolder;
  font-size: 85px;
  margin-left: -5px;
  margin-bottom: 40px;

}
